{{!-- app/components/input-modal.hbs --}}
<div class="input-modal">
  <div class="modal-content">
    <button type="button" {{on "click" this.closeModal}}>X</button>
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" value={{this.firstName}} {{on "input" this.updateFirstName}} />

    <label for="last-name">Last Name</label>
    <input id="last-name" type="text" value={{this.lastName}} {{on "input" this.updateLastName}} />

    <label for="email">Email</label>
    <input id="email" type="email" value={{this.email}} {{on "input" this.updateEmail}} />
    <button type="button" {{on "click" this.save}}>Save</button>
  </div>
</div>
